<div class="bg-login flex justify-center items-center">
    <div class="bg-white w-[28rem] rounded-sm">
        <div class="rounded-0 h-14 flex justify-center items-center" style="background-color: #04052D;">
            <h2 class="text-2xl text-white font-bold">REGISTER</h2>
        </div>
        <form class="max-w-sm mx-auto mt-10 " [formGroup]="registerForm" (ngSubmit)="onFormSubmit()">
            <div class="mb-5 flex gap-4">
                <input type="text" id="firstName" formControlName="userFirstName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 hover:border-purple-900" placeholder="first name" required />
                <input type="text" id="lastName" formControlName="userLastName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 hover:border-purple-900" placeholder="last name" required />
            </div>
            <div class="mb-5 flex gap-4">
                <input type="text" id="username" formControlName="userUsername" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 hover:border-purple-900" placeholder="username" required />
                <input type="text" id="phone" formControlName="userPhone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 hover:border-purple-900" placeholder="phone" required />
            </div>
            <div class="mb-5 flex gap-4">
                <input type="password" id="password" formControlName="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 hover:border-purple-900" placeholder="password" required />
                <input type="password" id="cpassword" formControlName="confirmPassword" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 hover:border-purple-900" placeholder="confirm password" required />
                </div>
            <div class="mb-5">
            <input type="email" id="email" formControlName="userEmail" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required placeholder="email" />
            </div>
            <div class="flex justify-center items-center w-full mb-4">
                <button type="submit" class="text-white w-full bg-blue-900 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">LOGIN</button>
            </div>
            <div class="flex justify-center items-center mb-2">
                <span class="text-sm tracking-wider text-gray-500">Already have an account ?</span>
                <span  routerLink="/login" class="text-sm italic text-blue-400 cursor-pointer">Login</span>
            </div>
        </form>
        
    </div>

</div>
