<header class="bg-header flex justify-center items-center">
    <div class="flex justify-center items-center">
        <h2 class="text-3xl text-white font-bold tracking-widest custom-heading">WELCOME TO MONEYMATE</h2>
    </div>
</header>
<nav class="flex justify-center items-center w-full h-24 bg-nav">
    <div class="flex justify-center items-center p-20">
        <a routerLink="/dashboard" class="text-lg tracking-wider cursor-pointer font-medium p-3 text-white hover:border-dotted hover:border-white hover:bg-blue-950 hover:shadow-xl hover:rounded-3xl hover:font-semibold hover:p-3">Dashboad</a>
        <a routerLink="/add-expenses" class="text-lg tracking-wider cursor-pointer font-medium p-3 text-white hover:border-dotted hover:border-white hover:bg-blue-950 hover:shadow-xl hover:rounded-3xl hover:font-semibold hover:p-3">add expenses</a>
    </div>
    <div class="ms-auto p-20">
        <a routerLink="/" class="text-lg tracking-wider cursor-pointer font-medium p-3 text-white hover:border-dotted hover:border-white hover:bg-blue-950 hover:shadow-xl hover:rounded-3xl hover:font-semibold hover:p-3">logout</a>
    </div>

</nav>