<nav class="bg-blue-950 border-gray-200 dark:bg-gray-900">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
        <a routerLink="/dashboard" class="flex items-center space-x-3 rtl:space-x-reverse">
            <span class="self-center text-sm font-semibold whitespace-nowrap text-white tracking-widest dark:text-white">SpendSmart</span>
        </a>
        <div class="flex items-center space-x-6 rtl:space-x-reverse">
            <a routerLink="/dashboard" class="text-sm  dark:text-white text-white hover:underline">shadrack kajigili</a>
            <a routerLink="/" class="text-sm  text-white hover:underline">user</a>
        </div>
    </div>
</nav>
<nav class="bg-blue-50 dark:bg-gray-700">
    <div class="max-w-screen-xl px-4 py-3 mx-auto">
        <div class="flex justify-center items-center">
            <ul class="flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm">
                <li>
                    <a routerLink="/dashboard" class="text-gray-900 dark:text-white hover:underline text-sm font-semibold" aria-current="page">Cash Dashboard</a>
                </li>
                <li>
                    <a routerLink="/add-expenses" class="text-gray-900 dark:text-white hover:underline text-sm font-semibold">New Expenses</a>
                </li>

            </ul>
        </div>
    </div>
</nav>


<div class="grid grid-cols-1 md:grid-cols-1 xl:grid-cols-1 sm:grid-cols-1">
    <div class="mt-4 w-full grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4 p-5">
        <div class="bg-white border border-purple-200 shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
            <div class="flex items-center">
                <div class="flex-shrink-0">
                    <span class="text-xl sm:text-lg leading-none font-bold text-gray-900">Tsh : {{ dashboardData.totalAmountToday }}</span>
                    <h3 class="text-sm font-normal text-gray-500">Today Expenses</h3>
                </div>
            </div>
        </div>
        <div class="bg-white border border-indigo-200 shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
            <div class="flex items-center">
                <div class="flex-shrink-0">
                    <span class="text-xl sm:text-lg leading-none font-bold text-gray-900">Tsh : {{ dashboardData.totalAmountThisWeek }}</span>
                    <h3 class="text-sm font-normal text-gray-500">This Week Expenses</h3>
                </div>
                <!-- <div class="ml-5 w-0 flex items-center justify-end flex-1 text-green-500 text-base font-bold">
                    14.6%
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M5.293 7.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L6.707 7.707a1 1 0 01-1.414 0z"
                            clip-rule="evenodd"></path>
                    </svg>
                </div> -->
            </div>
        </div>
        <div class="bg-white border border-blue-200 shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
            <div class="flex items-center">
                <div class="flex-shrink-0">
                    <span class="text-xl sm:text-lg leading-none font-bold text-gray-900">Tsh : {{ dashboardData.totalAmountThisMonth }}</span>
                    <h3 class="text-sm font-normal text-gray-500">This Month Expenses</h3>
                </div>
                <!-- <div class="ml-5 w-0 flex items-center justify-end flex-1 text-green-500 text-base font-bold">
                    32.9%
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M5.293 7.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L6.707 7.707a1 1 0 01-1.414 0z"
                            clip-rule="evenodd"></path>
                    </svg>
                </div> -->
            </div>
        </div>
        <div class="bg-white border border-purple-200 shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
            <div class="flex items-center">
                <div class="flex-shrink-0">
                    <span class="text-xl sm:text-lg leading-none font-bold text-gray-900">Tsh : {{ dashboardData.totalAmountThisYear }}</span>
                    <h3 class="text-sm font-normal text-gray-500">This Year Expenses</h3>
                </div>
                <!-- <div class="ml-5 w-0 flex items-center justify-end flex-1 text-red-500 text-base font-bold">
                    -2.7%
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M14.707 12.293a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l2.293-2.293a1 1 0 011.414 0z"
                            clip-rule="evenodd"></path>
                    </svg>
                </div> -->
            </div>
        </div>
    </div>
</div>

<div class="grid grid-cols-1  md:grid-cols-1 xl:grid-cols-2 sm:grid-cols-1 gap-2 p-5">
        <div class="mt-4 w-full h-40 grid grid-cols-1 md:grid-cols-1 xl:grid-cols-1 border shadow-md">
            <div class="flex justify-center p-2">
                <h2 class="text-sm font-semibold bg-yellow-100 w-full text-yellow-600 h-10 border rounded-lg flex justify-center items-center p-2">Top 3 days on which you have spent a lot of money. </h2>
            </div>
            <div class="">
                <div class="relative overflow-x-auto p-2">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                        <thead class="text-sm text-black uppercase bg-white border rounded-lg">
                            <tr>
                                <th scope="" class="px-6 py-3 text-sm">
                                    {{"Day"}}
                                </th>
                                <th scope="col" class="px-6 py-3 text-sm">
                                    amount
                                </th>
                                <th scope="col" class="px-6 py-3 text-sm">
                                    Reason
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    
                                </th>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="mt-4 w-full h-40 grid grid-cols-1 md:grid-cols-1 xl:grid-cols-1 border shadow-md">
            <div class="flex justify-center p-2">
                <h2 class="text-sm font-semibold bg-green-100 w-full text-green-600 h-10 border rounded-lg flex justify-center items-center p-2">Top 3 Months on which you have spent a lot of money. </h2>
            </div>
            <div class="">
                <div class="relative overflow-x-auto p-2">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                        <thead class="text-sm text-black uppercase bg-white border rounded-lg">
                            <tr>
                                <th scope="" class="px-6 py-3 text-sm">
                                    {{"Day"}}
                                </th>
                                <th scope="col" class="px-6 py-3 text-sm">
                                    amount
                                </th>
                                <th scope="col" class="px-6 py-3 text-sm">
                                    Reason
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    
                                </th>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="mt-4 w-full h-40 grid grid-cols-1 md:grid-cols-1 xl:grid-cols-1 border shadow-md">
            <div class="flex justify-center p-2">
                <h2 class="text-sm font-semibold bg-blue-100 w-full text-blue-600 h-10 border rounded-lg flex justify-center items-center p-2">Top 3 Years on which you have spent a lot of money. </h2>
            </div>
            <div class="">
                <div class="relative overflow-x-auto p-2">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                        <thead class="text-sm text-black uppercase bg-white border rounded-lg">
                            <tr>
                                <th scope="" class="px-6 py-3 text-sm">
                                    {{"Day"}}
                                </th>
                                <th scope="col" class="px-6 py-3 text-sm">
                                    amount
                                </th>
                                <th scope="col" class="px-6 py-3 text-sm">
                                    Reason
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    
                                </th>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- <div class="mt-4 w-full h-40 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 border">
                <app-apex-chart class="w-full"></app-apex-chart>
        </div> -->
</div>